* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
}

/**
* Form section only
*/
.input-form {
  width: 700px;
  max-width: 100%;
  height: auto;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
}

.input-form .input-container {
  width: 100%;
  padding: 2px 5px;
  margin-bottom: 10px;
}

.input-form .input-title {
  text-align: center;
}

.input-form .input-label {
  font-weight: bold;
  width: 100%;
  display: block;
}

.input-form .input-field {
  width: 100%;
  padding: 5px 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #333;
}

.input-form .form-button {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  display: block;
  font-size: 23px;
  font-weight: bold;
  background-color: #29a333;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-form .form-button:hover {
  background-color: #2e8a36;
  outline: 2px solid #333;
}

/**
* Quiz section only
*/
.quiz {
  width: 800px;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  background-color: #f5f5f5;
  padding-bottom: 40px;
}

.quiz .quiz-title {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #333;
}

.quiz .quiz-total-question {
  text-align: right;
  padding: 10px;
}

.quiz .question {
  padding: 10px 5px;
  margin-bottom: 10px;
  border-top: 1px solid #333;
}

.quiz .question .question-text {
  margin-bottom: 5px;
}

.quiz .question .question-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz .question .question-answers label {
  padding: 3px 5px;
  background-color: #dddddd66;
  font-size: 17px;
}

.quiz .question .question-answers textarea {
  resize: none;
  border-radius: 5px;
  font-size: 17px;
  min-height: 60px;
  padding: 10px 5px;
  background-color: #dddddd66;
}

.quiz .question .question-answers textarea:focus {
  background-color: #fefefe;
}

.quiz .submit-btn {
  display: block;
  margin: 10px;
  margin-left: auto;
  padding: 10px;
  min-width: 100px;
  font-size: 23px;
  background-color: #29a333;
  color: #f1f1f1;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz .submit-btn:hover {
  background-color: #2e8a36;
}

/**
* Skor Section only
*/
.result {
  background-color: #f1f1f1;
  width: 600px;
  max-width: 100%;
  margin: 100px auto;
  padding-bottom: 40px;
}

.result .main-title, .result .quiz-title, .result .namamurid {
  text-align: center;
  border-bottom: 2px solid #333;
  padding: 5px;
}

.result .specific-result {
  padding: 10px 5px;
  margin: 10px 0px;
  width: 100%;
}

.result .specific-result .result-row {
  padding: 10px 0px;
  display: block;
  border-bottom: 1px solid #333;
}
